{% extends 'base.html.twig' %}
{% block title %}Races{% endblock %}
{% block content %}

{% if races is defined %}
    <section id="#Races">        
    	<div id="#page1:races" class="container">
            <div class="row border border-1">
                <div class="col border border-1">
    				<div class="col border border-1" id="#races">
        				<select class="form-select" id="#selectRace" aria-label="Default select example">
            				{% if race is not defined or race is empty %}
        						<option value="choose">Choose Race</option>
        					{% else %}
        						<option value="choose" selected>Choose Race</option>
        					{% endif %}
        					
                            {% for notSelectedRace in races %}
                            	<option id="#{{ notSelectedRace }}" value="{{ notSelectedRace }}">{{ notSelectedRace }}</option>
                                {% if race is defined and race is not null %}
                                    {% if notSelectedRace == race.getName %}
                                    	<option id="#{{ race.getName }}" value="{{ race.getName }}" selected>{{ race.getName }}</option>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </select>
    				</div>
                </div>
                {% if race is defined and race is not null %}
                    <div class="col-9 border border-1">
        				<div class="col" style="display:block;" id="#{{ race.getIndex }}Body">
        					<div id="#name">
        						<h1>{{ race.getName }}</h1>
        					</div>
        					{% if race.getName is not same as 'Human' %}
        					<div id="#ability-score">
        						{% for score in race.getAbilityBonuses %}
        						<p><strong>Ability Score Increase:</strong> Your {{ score.ability_score.index }} score increases by {{ score.bonus }}</p>
        						{% endfor %}
        					</div>
        					{% else %}
        					<div id="#ability-score">
        						<p><strong>Ability Score Increase:</strong> All ability scores increase by 1</p>
        					</div>
        					{% endif %}
        					<div id="#age">
        						<p><strong>Age:</strong> {{ race.getAge }}</p>
        					</div>
        					
        					<div id="#alignment">
            					<p><strong>Alignment:</strong> {{ race.getAlignment }}</p>
        					</div>
        					
        					<div id="#size">
            					<p><strong>Size:</strong> {{ race.getSizeDescription }}</p>
        					</div>
        					
        					<div id="#classLanguage">
            					<p><strong>Language:</strong> {{ race.getLanguageDescription }}</p>
            					{% for language in race.getLanguages %}
        							{% if language.name is not same as 'Common' %}
            							<p hidden id="#language">{{ language.name }}</p>
            						{% endif %}
            					{% endfor %}
        					</div>
        					
        					<div id="#speed">
            					<p><strong>Speed:</strong> Your base walking speed is {{ race.getSpeed }} feet.</p>
        					</div>
        					
        					{% if race.getStartingProficiencies is not empty %}
                        	<div id="#RaceStartingProficiencies"">
                                <p>
                                	<strong>Starting Proficiencies:</strong>
                                	{% for startingProficiency in race.getStartingProficiencies %}
                                    	{{ startingProficiency.name }};
                                    {% endfor %}
                                </p>
                            </div>
                        	{% endif %} 
                        	
                        	{% if race.getStartingProficiencyOptions is not empty %}
        					<div id="#RaceStartingProficiencyOptions">
                                <p><strong>Starting Proficiencies Options</strong>
                                 (Choose {{ race.getStartingProficiencyOptions.choose }})</p>
                                <span id="#raceProficiencyLength" hidden>{{ race.getStartingProficiencyOptions.choose }}</span>
                                {% if race.getStartingProficiencyOptions.choose > 1 %}
                                    <select class="form-select" id="#selectProficiencyOptions" aria-label="Default select example" multiple>
                                        {% for options in race.getStartingProficiencyOptions.from %}
                                            <option id="#{{ options.index }}" value="{{ options.name }}">{{ options.name }}</option>
                                        {% endfor %}
                                    </select>
                                {% else %}
                                	<select class="form-select" id="#selectProficiencyOptions" aria-label="Default select example">
                                        {% for options in race.getStartingProficiencyOptions.from %}
                                            <option id="#{{ options.index }}" value="{{ options.name }}">{{ options.name }}</option>
                                        {% endfor %}
                                    </select>
                                {% endif %}
                            </div>
        					{% endif %}
        					
        					{% if race.getLanguageOptions is not empty %}
        					<div id="#RaceLanguageOptions">
                                <p><strong>Starting Language Options:</strong></p>
                                {% for i in 1..race.getLanguageOptions.choose %}
                                <select class="form-select" id="#selectLanguages" aria-label="Default select example">
                                    <option value="choose" selected>Choose</option>
                                    {% for options in race.getLanguageOptions.from %}
                                        <option id="#{{ options.index }}" value="{{ options.name }}">{{ options.name }}</option>
                                    {% endfor %}
                                </select>
                                {% endfor %}
                            </div>
        					{% endif %}
        					
        					<div id="#RaceTraits">
        						{% for traits in race.getTraits %}
                                	<p><strong>{{ traits.name }}:</strong> {% for desc in traits.description %}
                                	{{ desc }} {% endfor %}</p>
                            	{% endfor %}
        					</div>
        				</div>
                    </div>
                {% else %}
                    <div class="col-9 border border-1">
                    </div>
                {% endif %}
            </div>
            {% if race is defined and race is not null %}
	            <button type="button" id="#toClass" class="btn btn-dark">Save</button>
            {% endif %}
        </div>
    </section>
{% endif %}
	<script src="{{ asset('assets/js/races.js') }}" type="module"></script>
{% endblock %}